<header class="d81c7d65">
    <div class="left">
        <img src="<%=require(`./切图 21.png`)%>" alt="菜单">
    </div>
    <a href="">
        <img src="	https://m.ieduchina.com/statics/w/img/logol.png" alt="国际教育网">
    </a>
    <div class="right">
        <a href="">
            <img src="<%=require(`./切图 19.png`)%>" alt="搜索">
        </a>
        <span class="s2hk">繁体</span>
    </div>
</header>
<menu class="e13bf801">
    <a href="" class="active">首页</a>
    <a href="">学校</a>
    <a href="">升学</a>
    <a href="">留学</a>
    <a href="">家长进修</a>
    <a href="">学习资源</a>
</menu>

<div class="c1332076">
    <div class="c1332076-mask">
        <div class="c1332076-contain">
            <div class="c1332076-close">
                <img src="<%=require(`./切图 21.png`)%>" alt="菜单">
            </div>
            <div class="c1332076-avtive islogin">
                <a href="">
                    <img src="<%=require(`./路径@1x.png`)%>" alt="头像">
                    <!-- <span>登录</span> -->
                    <div class="nike"><span>测试测试测试测试测试测试测试测试测试</span></div>
                </a>
            </div>
            <div class="c1332076-list">
                <ul>
                    <li>
                        <a>教育资讯<img src="<%=require(`./graduation-cap-line@1x.png`)%>" alt="教育资讯"></a>
                        <div class="child">
                            <ol>
                                <li>
                                    <a href="">校园</a>
                                </li>
                                <li>
                                    <a>留学</a>
                                </li>
                                <li>
                                    <a>家庭教育</a>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <a>教育资讯<img src="<%=require(`./school-line@1x.png`)%>" alt="教育资讯"></a>
                        <div class="child">
                            <ol>
                                <li>
                                    <a href="">校园资讯</a>
                                </li>
                                <li>
                                    <a>留学资讯</a>
                                </li>
                                <li>
                                    <a>家庭教育</a>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <a>教育资讯<img src="<%=require(`./parent-line@1x.png`)%>" alt="教育资讯"></a>
                        <div class="child">
                            <ol>
                                <li>
                                    <a href="">校园资讯</a>
                                </li>
                                <li>
                                    <a>留学资讯</a>
                                </li>
                                <li>
                                    <a>家庭教育</a>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <a>教育资讯<img src="<%=require(`./容器@1x.png`)%>" alt="教育资讯"></a>
                        <div class="child">
                            <ol>
                                <li>
                                    <a href="">校园资讯</a>
                                </li>
                                <li>
                                    <a>留学资讯</a>
                                </li>
                                <li>
                                    <a>家庭教育</a>
                                </li>
                            </ol>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>